svg {
  width: 200px;
}

.light {
  opacity: 0;

  animation-name: lampOn;
  animation-duration: 0.2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes lampOn {
  0% {
    opacity: 0;
    filter: 'saturate(0) brightness(0.5)';
  }
  100% {
    opacity: 1;
    filter: 'saturate(1) brightness(1)';
  }
}
